body { 
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFA500; }

h1 {
    color: #FFFFFF;
    background-color: #B7410E;
    padding: 1.5rem; }

h2 { 
    color: #FFFFFF;
    background-color: #B7410E;
    padding: 1.5rem; 
}

h3 {
    color: #FFFFFF;
    background-color: #B7410E;
    padding: 1.5rem; }

p {
    padding-left: 20px;
    padding-right: 20px }