body { 
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFA500; }

h1 {
    color: #FFFFFF;
    font-family: "Times New Roman", 'Courier New', Courier, monospace;
    background-color: hsl(18, 86%, 39%);
    padding: 1.5rem; 
    text-transform: uppercase; }

h2 { 
    color: #FFFFFF;
    background-color: #B7410E;
    padding: 1.5rem; 
}

h3 {
    color: #FFFFFF;
    background-color: #B7410E;
    padding: 1.5rem; }

p {
    padding-left: 1.3rem;
    padding-right: 1.3rem;
    line-height: 1.5rem; 
    font-family: "Courier New", 'Courier New', Courier, monospace; }

a:link {
    color: #284B87;
    text-decoration: none; }

a:visited {
    color: #284B87; }
a:hover {
    color: #FFF4C9;
    text-decoration: underline; }
a:active {
    color: #F7E997; }
