:root {
    --link-color: #4a76ee; 
    --text-color: darkgrey; }

/*Home*/

html {
    scroll-behavior: smooth; }

.personal_page {
    display: flex; 
    align-content: center; 
    justify-content: center; 
    padding: 1px; 
    font-size: xx-large;
    text-align: center; 
    text-decoration: none;
    margin-top: 100px; }

.personal_page a:hover {
    color: lightblue; } 

.personal_page a {
    text-decoration: none; }

/*Home-Navbar*/

.home-logo {
    padding: 0 50px;
    margin-top: 35px;
    position: absolute;
    left: 0; }

nav {
    display: flex;
    justify-content: space-between;
    align-items: center; }

nav ul {
    display: flex; 
    justify-content: center;
    padding: 0px; 
    align-items: center;
    flex: 1; }

nav a {
    padding: 25px;
    font-size: 20px;
    text-decoration: none; }

nav li {
    list-style-type:none; }

li.link_animation > a:hover {
    color: lightblue; }    

li.link_design > a:hover {
    color: lightblue; }    

li.link_marketing > a:hover {
    color: lightblue;
    background-color: white; }   
    
.Portfolio-Header h1 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: black; }

/*Home-Social-Media*/

.logo_links {
    padding: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center; }

.logo_links ul {
    list-style-type: none;
    padding-left: 0; }

.logo_links li {
    display: inline;
    padding: 20px; }

.logo_links a:hover {
    color: blue; }

.logo_links a:hover {
    color: blueviolet; }

/*About*/

.hero-section {
    display: flex; 
    justify-content: space-between; 
    padding: 0 50px;
    margin: 50px 0; 
    margin-bottom: 100px;
    align-items: center; 
    gap: 40px; }

.hero-section .about-text {
    flex: 5; }

.hero-section .about-text h2 {
    font-size: 35px; }

.hero-section .about-text .about-links {
    margin-top: 25px; }

.hero-section .about-text .about-links a {
    display: inline-block;
    padding: 5px 10px;
    border: 2px solid var(--link-color);
    border-radius: 5px;
    margin-right: 10px; 
    margin-bottom: 10px; 
    transition: .1s; }

.hero-section .about-text .about-links a:hover { 
    color: var(--text-color);
    border: 2px solid var(--text-color) }

.hero-section .headshot {
    flex: 2; }

.hero-section .headshot img {
    border-radius: 50%; 
    width: 300px; 
    display: flex; 
    justify-content: right; }

/*About-Skills*/

.about-skills {
    padding: 0 50px;
    margin-bottom: 100px; }

.about-skills h2 {
    text-align: center;
    font-size: 35px;}

.about-skills .about-skills-text {
    text-align: center;
    margin-bottom: 20px;}

.about-skills .cells {
    display: flex;
    justify-content: center; 
    flex-wrap: wrap; }

.about-skills .cells .cell {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    width: 200px;
    padding: 10px 20px; 
    border: 1.5px solid lightgray;
    border-radius: 5px;
    margin: 10px; }

.about-skills .cells .cell img {
    width: 30px;
    height: 30px; 
    object-fit: contain; 
    border-radius: 2px; }

.about-skills .cells .cell span {
    font-size: 18px; }

/*About-Navbar*/

.about-links a {
    text-decoration: none; }

.about-nav nav {
    padding: 0px 20px;
    position: relative; }

/*About-Contact*/

.about-contact-section {
    padding: 0 50px;
    margin-bottom: 100px; }

.about-contact-section h2 {
    font-size: 35px; }

.about-contact-section .about-contact-group {
    display: flex;
    gap: 50px; }

.about-contact-section .about-contact-group .about-text {
    flex: 3; 
    margin-top: 20px; }

.about-contact-section .about-contact-group form {
    flex: 3; 
    display: flex; 
    flex-direction: column; }

.about-contact-section .about-contact-group form input, 
.about-contact-section .about-contact-group form textarea {
    font-family:'Times New Roman', Times, serif;
    border: 2px solid var(--link-color); 
    background-color: transparent;
    padding: 10px; 
    margin-bottom: 15px; 
    outline: none; 
    resize: none; }

.about-contact-section .about-contact-group form button {
    font-size: 16px;
    font-family:'Times New Roman', Times, serif;
    color: #fff;
    background-color: var(--link-color); 
    border: none; 
    height: 50px; 
    cursor: pointer;
    transition: .1s; }

.about-contact-section .about-contact-group form button:hover {
    filter: brightness(.9); }

/*About-Me-Page-Text/Image-Responsiveness*/

@media (max-width: 850px) {
    .hero-section .about-text h2 {
    font-size: 35px; } }

@media (max-width: 740px) {
    .hero-section {
    flex-direction: column-reverse; } 

    .hero-section .headshot img {
    width: 300px; } 

    .about-contact-section .about-contact-group {
    flex-direction: column; } }

/*About-Skills-Responsiveness*/

.about-skills {
    padding: 0 20px;
}

.about-skills .cells .cell {
    font-size: 16px;
}

/*Design-Page*/

body {
    margin: 0; }

.image-grid {
    --gap: 16px;
    --num-cols: 4;
    --row-height: 300px; 
    
    box-sizing: border-box;
    padding: var(--gap); 

    display: grid; 
    grid-template-columns: repeat(var(--num-cols), 1 fr);
    grid-auto-rows: var(--row-height); 
    gap: var(--gap); }

.image-grid > img {
    width: 100%;
    height: 100%; 
    object-fit: cover; }

.image-grid-col-2 {
    grid-column: span 2; }

.image-grid-row-2 {
    grid-row: span 2; }

@media screen and (max-width: 1024px) {
    .image-grid {
        --num-cols: 2px;
        --row-height: 200px } }

/*Footer*/

.portfolio-footer {
    text-align: center; }

.portfolio-footer ul {
    text-align: center;
    list-style-type: none; }